* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
.header-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/donation7.jpg),
    linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  padding: 0 220px;
}
.header-description {
  font-size: 18px;
  line-height: 28px;
  padding: 40px 400px;
}
.btn {
  padding: 15px 35px;
  border: none;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
}
.header-btn {
  background-color: #ff5959;
  color: #ffffff;
}

/* donate section */

.donate-section {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.donate-title {
  font-weight: 700;
  font-size: 45px;
  margin-top: 100px;
}
.donate-description {
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  padding: 20px 350px;
}
.donate-amount {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.donate-box {
  width: 135px;
  height: 123px;
  background: #fafafa;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #707070;
  margin-top: 40px;
}
h2 {
  margin-top: 40px;
}
.second {
  border: solid 2px #ff5959;
  color: #ff5959;
  background: #ffeeee;
}
[type="text"] {
  background: white;
  width: 770px;
  height: 80px;
  border-style: none;
  margin-top: 30px;
}
::placeholder {
  color: #b3b3b3;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
}
.donate-btn {
  margin-top: 20px;
  color: white;
  background-color: #ff5959;
}

/* plan section */

.plan-title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  margin-top: 100px;
}
.plan-description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #707070;
  margin-top: 20px;
  padding: 0px 330px;
}
.plan-box-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 20px;
}
.one {
  background: rgba(79, 157, 166, 0.1);
}
.two {
  background: rgba(255, 89, 89, 0.1);
}
.three {
  background: rgb(255, 244, 214);
}
.plan-box {
  width: 350px;
  height: 342px;
  border-radius: 5px;
}
.plan-box-icon {
  margin: 60px 0 30px 25px;
}
.plan-box-title {
  font-size: 24px;
  margin-left: 25px;
}

.plan-box-description {
  ont-size: 16px;
  line-height: 24px;
  color: #707070;
  margin: 30px 20px 0 25px;
}

/* blog section */

.blog-section {
  display: flex;
  margin: 100px 150px;
}
.section-one {
  text-align: left;
}
.blog-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 48px;
  margin-right: 150px;
  margin-top: 60px;
  margin-left: 5px;
}
.blog-description {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 5px;
}
.contribute-btn {
  color: #ffffff;
  background-color: #ff5959;
  margin-top: 20px;
}
.section-two {
  margin-right: 60px;
}
.donation-img {
  width: 400px;
  height: 450px;
  border-radius: 5px;
}

/* update section */
.update-section{
text-align: center;
}
.update-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}
.update-description{
    font-size: 16px;
    line-height: 26px;
    padding: 0 400px;
    color: #707070;
    margin-bottom: 50px;
}
.update-container{
display: flex;
justify-content: center;
margin: auto;
width: 800px;
height: 200px;
background-color: #fff4d6;
align-items: center;
border-radius: 5px;
}
.subscribe-btn{
color: white;
background-color: #ff5959;
}
[type="email"] {
  background:#707070;
  color: white;
  border-radius: 5px;
  border-color: white;
  width: 300px;
  height: 55px;
  border-style: none;
  padding: 0px 20px;
  
}
::placeholder {
  color: #e6e5e5c4;
 
}
/* footer */

.footer-section{
    background: #0B0D17;
    text-align: center;
    height: 200px;
    margin-top: 100px;
}
.footer-title{
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
    padding-top: 50px;
}
.footer-des{
    font-size: 14px;
    color: #D9DBE1;
    margin-top: 40px;
    
    font-feature-settings: 'liga' off;
    
}